<%= form_with(model: company,
              auto_init: true,
              local: true,
              builder: MdcFormHelper::MdcFormBuilder) do |form| %>
  <% if company.errors.any? %>
    <div class="res-error-explanation">
      <p class="mdc-typography--title res-error-explanation__result">
        <%= t("errors.template.header", count: company.errors.count, model: Company.model_name.human) %>:
      </p>
      <ul class="res-error-explanation__message-list">
    <% company.errors.full_messages.each do |message| %>
        <li class="res-error-explanation__message-item"><%= message %></li>
    <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :name, required: true, maxlength: 255 %>
  </div>
  <div class="field">
    <%= form.text_field :short_name, required: true, maxlength: 31 %>
  </div>
  <div class="field">
    <%= form.text_field :kana_name, required: true, maxlength: 255 %>
  </div>
  <div class="field">
    <%= form.text_field :en_name, maxlength: 255 %>
  </div>
  <div class="field">
  <% puts company.new_record? %>
    <%= form.select :category, Company.categories.keys.map{|key| [Company.human_attribute_name(key), key]}, {}, { required: true } %>
    <%= form.select :category_position, Company.category_positions.keys.map{|key| [Company.human_attribute_name(key), key]}, {}, { required: true } %>
  </div>
  <div class="field">
    <%= form.image_field :logo_image, max_height: 192, accept: "image/png, image/jpeg, image/gif" %>
  </div>
  <div class="field">
    <%= form.text_field :web_site, maxlength: 255 %>
  </div>
  <div class="field">
    <%= form.text_field :note, maxlength: 255 %>
  </div>
  <div class="actions">
    <%= mdc_link_to t("helpers.button.cancel"), {action: :index}, auto_init: true %>
    <%= form.submit raised: true, class: "res-button--raised--secondary" %>
  </div>
<% end %>
