<h2 class="mdc-typography--headline5 res-content-title"><%= t(".company_settings")%></h2>

<div class="res-content content-companies">
  <div class="res-content-area">
    <div class="mdc-list-group res-content-list res-companies-list">
      <%= mdc_divided_list @companies, :kana_name, :kana, avatar_list: true do |company| %>
        <li class="mdc-list-item res-companies-item" data-company-url="<%= company_path(company, format: :json) %>" data-company-id="<%= company.id %>">
        <% if company.logo_image.present? %>
          <%= base64_image_tag company.logo_image, height: 36, alt: "logo", title: company.omit_name, class: "mdc-list-item__graphic res-company-item__logo" %>
        <% else %>
          <i class="material-icons mdc-list-item__graphic res-company-item__logo" aria-hidden="true" title="<%= company.omit_name %>">business</i>
        <% end %>
          <%= company.formal_name %>
        </li>
      <% end %>
    </div>
  </div>
  <div class="mdc-card res-card res-companies-card" style="display:none">
    <div class="mdc-card__media res-card__media">
      <div class="mdc-card__media-content">
        <div class="res-card__media__icon-button-area">
          <%= mdc_icon_button_tag "delete", title: "delete", class: "res-companies-card-delete" %>
          <%= mdc_icon_button_tag "close", title: "close", class: "res-companies-card-close" %>
        </div>
        <div class="res-card__media__title">
          <span class="mdc-typography--headline6 res-company-info__name"></span>
        </div>
      </div>
      <%= mdc_fab_link_to "edit", "#", mini: true, class: "res-card__fab", label: t(".edit_company"), title: t(".edit_company") %>
    </div>
    <div class="res-card__main">
      <ul class="mdc-list mdc-list--non-interactive res-list--content">
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Company.human_attribute_name(:kana_name) %>" aria-hidden="true">record_voice_over</i>
          <span class="res-company-info__kana-name"></span>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Company.human_attribute_name(:en_name) %>" aria-hidden="true">language</i>
          <span class="res-company-info__en-name"></span>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Company.human_attribute_name(:web_site) %>" aria-hidden="true">web</i>
          <a class="res-list-item__link res-company-info__web-site" href="#" target="_blank"></a>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Company.human_attribute_name(:note) %>" aria-hidden="true">note</i>
          <span class="res-company-info__note"></span>
        </li>
      </ul>
    </div>
  </div>

  <%= mdc_fab_link_to "add", {action: :new}, class: "res-add-fab res-companies-add-button", label: t(".create_company"), title: t(".create_company") %>

  <div class="mdc-snackbar res-companies-snackbar"
       aria-live="assertive"
       aria-atomic="true"
       aria-hidden="true"
       data-mdc-auto-init="MDCSnackbar"
       data-message="<%= notice %>">
    <div class="mdc-snackbar__text res-companies-result"></div>
    <div class="mdc-snackbar__action-wrapper">
      <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
  </div>
</div>