<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @company.short_name %>
</p>

<p>
  <strong>Kana name:</strong>
  <%= @company.kana_name %>
</p>

<p>
  <strong>En name:</strong>
  <%= @company.en_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @company.category %>
</p>

<p>
  <strong>Category position:</strong>
  <%= @company.category_position %>
</p>

<p>
  <strong>Logo image:</strong>
  <%= base64_image_tag @company.logo_image %>
</p>

<p>
  <strong>Note:</strong>
  <%= @company.note %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @company.web_site %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
