<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :card_company %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :kana_name %>
    <%= form.text_field :kana_name, id: :card_kana_name %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department, id: :card_department %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :card_position %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, id: :card_postcode %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :card_address %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, id: :card_tel %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :card_fax %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail, id: :card_mail %>
  </div>

  <div class="field">
    <%= form.label :front_image %>
    <%= form.text_field :front_image, id: :card_front_image %>
  </div>

  <div class="field">
    <%= form.label :back_image %>
    <%= form.text_field :back_image, id: :card_back_image %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :card_qualification %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note, id: :card_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
