<%= form_with(model: card,
              auto_init: true,
              local: true,
              builder: MdcFormHelper::MdcFormBuilder) do |form| %>
  <% if card.errors.any? %>
    <div class="res-error-explanation">
      <p class="mdc-typography--title res-error-explanation__result">
        <%= t("errors.template.header", count: card.errors.count, model: Card.model_name.human) %>:
      </p>
      <ul class="res-error-explanation__message-list">
    <% card.errors.full_messages.each do |message| %>
        <li class="res-error-explanation__message-item"><%= message %></li>
    <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :name, required: true, maxlength: 31 %>
  </div>
  <div class="field">
    <%= form.text_field :kana_name, required: true, maxlength: 63 %>
  </div>
  <div class="field">
    <%= form.select :company_id, Company.order(:kana_name).map{|c| [c.omit_name, c.id]}, card.company ? {} : { include_blank: true }, { required: true } %>
  </div>
  <div class="field">
    <%= form.text_field :department, maxlength: 31 %>
    <%= form.text_field :position, maxlength: 31 %>
  </div>
  <div class="field">
    <%= form.text_field :qualification, maxlength: 255 %>
  </div>
  <div class="field">
    <%= form.text_field :postcode, maxlength: 8, pattern: "\\d{3}-\\d{4}" %>
    <%= form.text_field :address, maxlength: 255 %>
  </div>
  <div class="field">
    <%= form.text_field :tel, maxlength: 15, pattern: "0[\\d\\-]{11,14}" %>
    <%= form.text_field :fax, maxlength: 15, pattern: "0[\\d\\-]{11,14}" %>
  </div>
  <div class="field">
    <%= form.text_field :mail, maxlength: 255, pattern: "[\\w+\\-.]+@[a-z\\d\\-.]+\\.[a-z]+" %>
  </div>
  <div class="field">
    <%= form.image_field :front_image, max_height: 192, accept: "image/png, image/jpeg, image/gif" %>
    <%= form.image_field :back_image, max_height: 192, accept: "image/png, image/jpeg, image/gif" %>
  </div>
  <div class="field">
    <%= form.text_field :note, maxlength: 255 %>
  </div>
  <div class="actions">
    <%= mdc_link_to t("helpers.button.cancel"), {action: :index}, auto_init: true %>
    <%= form.submit raised: true, class: "res-button--raised--secondary" %>
  </div>
<% end %>
