<h2 class="mdc-typography--headline5 res-content-title"><%= t(".business_cards")%></h2>

<div class="res-content content-cards">
  <aside class="res-nav">
    <nav class="res-nav__nav">
      <div class="mdc-typography--subtitle1 res-nav__title mdc-list">
        <div class="mdc-list-item__graphic">
          <%= mdc_check_box_tag "comp-list-head", "ct", true, auto_init: true, id: nil, class: "res-cards-company-header-checkbox res-cards-company-checkbox" %>
        </div>
        <%= Company.model_name.human %>
      </div>
      <ul class="mdc-list mdc-list--dense res-company-list">
      <% @companies.each do |company| %>
        <li class="mdc-list-item res-item-company" data-mdc-auto-init="MDCRipple">
          <div class="mdc-list-item__graphic">
            <%= mdc_check_box_tag "comp#{company.id}", company.id, true, auto_init: true, id: nil, class: "res-cards-company-checkbox" %>
          </div><%= company.short_name %>
        </li>
      <% end %>
      </ul>
    </nav>
  </aside>
  <div class="res-content-area">
    <div class="mdc-list-group res-content-list res-cards-list">
      <%= mdc_divided_list @cards, :kana_name, :kana, avatar_list: true do |card| %>
        <li class="mdc-list-item res-card-item" data-card-url="<%= card_path(card, format: :json) %>" data-card-id="<%= card.id %>" data-company-id="<%= card.company.id %>">
        <% if card.company.logo_image.present? %>
          <%= base64_image_tag card.company.logo_image, height: 36, alt: "logo", title: card.company.omit_name, class: "mdc-list-item__graphic res-company-item__logo" %>
        <% else %>
          <i class="material-icons mdc-list-item__graphic res-company-item__logo" aria-hidden="true" title="<%= card.company.omit_name %>">business</i>
        <% end %>
          <%= card.name %>
          <span class="mdc-list-item__meta"><%= card.department %> <%= card.position %></span>
        </li>
      <% end %>
    </div>
  </div>
  <div class="mdc-card res-card res-cards-card" style="display:none">
    <div class="mdc-card__media res-card__media">
      <div class="mdc-card__media-content">
        <div class="res-card__media__icon-button-area">
          <%= mdc_icon_button_tag "delete", title: "delete", class: "res-cards-card-delete" %>
          <%= mdc_icon_button_tag "close", title: "close", class: "res-cards-card-close" %>
        </div>
        <div class="res-card__media__title">
          <span class="mdc-typography--headline6 res-card-info__name"></span>
          <span class="mdc-typography--caption res-card__media__caption res-card-info__qualification"></span>
        </div>
      </div>
      <%= mdc_fab_link_to "edit", "#", mini: true, class: "res-card__fab", label: t(".edit_card"), title: t(".edit_card") %>
    </div>
    <div class="res-card__main">
      <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive res-list--content">
        <li class="mdc-list-item res-cards-content__name">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:company) %>" aria-hidden="true">business</i>
          <span class="mdc-list-item__text">
            <span class="res-card-info__company-name--label"></span><a class="res-list-item__link res-card-info__company-name--link" href="#"></a>
            <span class="mdc-list-item__secondary-text res-card-info__department"></span>
          </span>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:address) %>" aria-hidden="true">place</i>
          <a class="res-list-item__link res-card-info__post-address-building" href="#"></a>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:tel) %>" aria-hidden="true">phone</i>
          <a class="res-list-item__link res-card-info__tel" href="#"></a>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:cellular_phone) %>" aria-hidden="true">smartphone</i>
          <a class="res-list-item__link res-card-info__cellular-phone" href="#"></a>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:fax) %>" aria-hidden="true">print</i>
          <span class="res-card-info__fax"></span>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:mail) %>" aria-hidden="true">email</i>
          <a class="res-list-item__link res-card-info__mail" href="#"></a>
        </li>
        <li class="mdc-list-item">
          <i class="material-icons mdc-list-item__graphic" title="<%= Card.human_attribute_name(:note) %>" aria-hidden="true">note</i>
          <span class="res-card-info__note"></span>
        </li>
      </ul>
    </div>
  </div>

  <%= mdc_fab_link_to "add", {action: :new}, class: "res-add-fab res-card-add-button", label: t(".create_card"), title: t(".create_card") %>

  <div class="mdc-snackbar res-cards-snackbar"
       aria-live="assertive"
       aria-atomic="true"
       aria-hidden="true"
       data-mdc-auto-init="MDCSnackbar"
       data-message="<%= notice %>">
    <div class="mdc-snackbar__text res-cards-result"></div>
    <div class="mdc-snackbar__action-wrapper">
      <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
  </div>
</div>