<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Businesscards</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/material-components-web@0.32.0/dist/material-components-web.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mdc-typography res-body">
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <button class="material-icons mdc-toolbar__menu-icon res-main-menu">menu</button>
          <h1 class="mdc-toolbar__title">Restus Potal</h1>
        </div>
      </div>
    </header>
    <div class="mdc-toolbar-fixed-adjust res-content">
      <aside class="mdc-drawer mdc-drawer--persistent mdc-drawer--open res-drawer">
        <nav class="mdc-drawer__drawer">
          <div class="mdc-list-group">
            <nav class="mdc-list">
              <%= mdc_list_item_link_to t(".mail"), "https://mail.google.com/mail/", icon: "email" %>
              <%= mdc_list_item_link_to t(".calendar"), "https://calendar.google.com/calendar/", icon: "event" %>
              <%= mdc_list_item_link_to t(".company_settings"),
                                        { controller: "companies", action: "index" },
                                        icon: "business",
                                        selected: controller.controller_name == "companies" %>
              <%= mdc_list_item_link_to t(".business_cards"),
                                        { controller: "cards", action: "index" },
                                        icon: "contact_mail",
                                        selected: controller.controller_name == "cards" %>
            </nav>

            <hr class="mdc-list-divider">

            <nav class="mdc-list">
              <%= mdc_list_item_link_to t(".g_sute_account"), "https://myaccount.google.com/", icon: "account_circle" %>
            </nav>
          </div>
        </nav>
      </aside>
      <main class="res-main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
